*.rds
*.RData
data
figure54-CXOutputs
figure55-OutputsDivergence
figure56-GAROBRUB
figure57-CX2CX
figure58-CX2CX-Motifs
figure59-OutputsModularity
figure60-KnownTargets
figure61-OutputsToMBONsAndPPL
figure62-OutputsToVisual
figure63-OutputsToDN
figure64-PFL3
figure65-FS4A
figure74-localNetworks
